<div>
  <link href="./about-page.css" rel="stylesheet" />
  <div class="about-page-container">
    <h1 class="about-page-text"><span>About Us</span></h1>
    <div class="about-page-features">
      <h1 class="about-page-text1">
        <span>Goflo Games;</span>
        <span class="about-page-text3">Free, Unblocked Games</span>
        <span> </span>
      </h1>
      <div class="about-page-container1">
        <div class="about-page-container2"></div>
        <span class="about-page-text5">
          <span>
            Welcome to Goflo Games, your ultimate destination for online gaming.
            We offer a wide range of games, including some of the most popular
            titles in the gaming world today, such as Crossy Road, Earn to Die,
            and Slope. Our website is designed to be fun and entertaining for
            people of all ages, and it provides an excellent platform for anyone
            looking for a quick and easy diversion or a more serious gaming
            experience. At Goflo Games, we are committed to providing
            high-quality games that meet the highest standards of gameplay,
            graphics, and overall enjoyment. We constantly update our website
            with new games and features, ensuring that there is always something
            new and exciting to discover. One of the standout features of our
            website is the variety of games that we offer. From fast-paced
            action games to strategy and puzzle games, we have something for
            everyone. We carefully curate our collection of games to ensure that
            each one is engaging, challenging, and fun to play. In addition to
            offering a wide range of games, we also provide in-depth
            descriptions of these games. These descriptions offer a detailed
            overview of the games, including the gameplay mechanics, controls,
            and objectives. They also provide insights into the strategies and
            techniques that players can use to improve their scores and progress
            through the levels. We understand that online gaming can sometimes
            be a risky activity, which is why we are committed to providing a
            safe and secure gaming environment for our players. We use
            state-of-the-art encryption and security technologies to protect
            players' personal information and ensure that their gaming
            experience is free from any kind of fraud or hacking.
          </span>
        </span>
        <img alt="image" src="public/logo-500h.png" class="about-page-image" />
      </div>
    </div>
    <div class="about-page-banner">
      <h1 class="about-page-text6">Check it out!</h1>
      <span class="about-page-text7">
        See some of our best games at the Jump &amp; Run page or the Home Page.
        Most users love these games.
      </span>
      <div class="about-page-container3">
        <div class="about-page-btn-group">
          <a href="jump-run.html" class="about-page-navlink button">
            <span>Jump & Run</span>
          </a>
        </div>
        <a href="jump-run.html" class="about-page-navlink1 button">
          <span>Home</span>
        </a>
      </div>
    </div>
    <header data-role="Header" class="footer-header footer-root-class-name62">
      <span>
        <span>
          All games on this website are the property of their respective owners.
        </span>
      </span>
    </header>
  </div>
</div>
