<div>
  <link href="./about-contact.css" rel="stylesheet" />
  <header data-role="Header" class="about-contact-header">
    <a href="index.html" class="about-contact-navlink">
      <div class="about-contact-go-flo-games"></div>
    </a>
    <a href="privacy.html" class="about-contact-navlink1 button">
      <span>Privacy</span>
    </a>
    <a href="terms-of-service.html" class="about-contact-navlink2 button">
      <span>T.O.S.</span>
    </a>
    <a href="about.html" class="about-contact-navlink3 button">
      <span>About</span>
    </a>
    <a href="contact.html" class="about-contact-navlink4 button">
      <span>Contact</span>
    </a>
    <div class="about-contact-container">
      <div class="about-contact-container1">
        <div
          data-thq="thq-dropdown"
          class="about-contact-thq-dropdown list-item"
        >
          <ul data-thq="thq-dropdown-list" class="about-contact-dropdown-list">
            <li
              data-thq="thq-dropdown"
              class="about-contact-dropdown list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="about-contact-dropdown-toggle"
              >
                <span class="about-contact-text">
                  <span>Sub-menu Item</span>
                </span>
              </div>
            </li>
            <li
              data-thq="thq-dropdown"
              class="about-contact-dropdown1 list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="about-contact-dropdown-toggle1"
              >
                <span class="about-contact-text1">
                  <span>Sub-menu Item</span>
                </span>
              </div>
            </li>
            <li
              data-thq="thq-dropdown"
              class="about-contact-dropdown2 list-item"
            >
              <div
                data-thq="thq-dropdown-toggle"
                class="about-contact-dropdown-toggle2"
              >
                <span class="about-contact-text2">
                  <span>Sub-menu Item</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
