<div>
  <link href="./contact1.css" rel="stylesheet" />
  <div class="contact1-container">
    <h1 class="contact1-text"><span>Contact Us</span></h1>
    <div class="contact1-container1">
      <div class="contact1-features">
        <form
          action="https://formsubmit.co/goflogames2@gmail.com"
          method="POST"
          enctype="application/x-www-form-urlencoded"
          class="contact1-form"
        >
          <input
            type="text"
            required
            placeholder="your name"
            class="contact1-textinput input"
          />
          <input
            type="text"
            name="email"
            required
            placeholder="your email"
            class="contact1-textinput1 input"
          />
          <textarea
            placeholder="your message"
            class="contact1-textarea textarea"
          ></textarea>
          <button name="submit" type="submit" class="contact1-button button">
            <span>Submit</span>
          </button>
        </form>
      </div>
    </div>
    <div class="contact1-banner">
      <h1 class="contact1-text1">Check it out!</h1>
      <span class="contact1-text2">
        See some of our best games at the Jump &amp; Run page or the Home Page.
        Most users love these games.
      </span>
      <div class="contact1-container2">
        <div class="contact1-btn-group">
          <a href="jump-run.html" class="contact1-navlink button">
            <span>Jump & Run</span>
          </a>
        </div>
        <a href="jump-run.html" class="contact1-navlink1 button">
          <span>Home</span>
        </a>
      </div>
    </div>
    <header data-role="Header" class="footer-header footer-root-class-name63">
      <span>
        <span>
          All games on this website are the property of their respective owners.
        </span>
      </span>
    </header>
    <div class="contact1-container3"></div>
  </div>
</div>
