.footer-header {
  width: 100%;
  height: 104px;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-primary-4);
  border-width: 1px;
  padding-left: 0p0x;
  padding-right: 0p0x;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-primary-4);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}



































































































@media(max-width: 767px) {
  .footer-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-header {
    padding: var(--dl-space-space-unit);
  }
}

.contact1-container {
  width: 100%;
  height: 1012px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-1);
}
.contact1-text {
  font-size: 4em;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.contact1-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact1-features {
  width: 645px;
  height: 576px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  flex-direction: column;
}
.contact1-form {
  width: 645px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact1-textinput {
  flex: 1;
  color: var(--dl-color-primary-2);
  width: 100%;
  height: 35px;
  align-self: flex-start;
  border-color: var(--dl-color-primary-3);
  border-width: 3px;
  background-color: #1b0023;
}
.contact1-textinput1 {
  flex: 1;
  color: var(--dl-color-primary-2);
  width: 100%;
  height: 35px;
  align-self: flex-start;
  border-color: var(--dl-color-primary-3);
  border-width: 3px;
  background-color: #23002f;
}
.contact1-textarea {
  color: var(--dl-color-primary-2);
  width: 100%;
  height: 100%;
  border-color: var(--dl-color-primary-3);
  border-width: 3px;
  background-color: #25002f;
}
.contact1-button {
  color: var(--dl-color-primary-1);
  width: 99px;
  align-self: flex-end;
  padding-left: 22px;
  padding-right: 0px;
  background-color: var(--dl-color-primary-2);
}
.contact1-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact1-text1 {
  font-size: 3rem;
  text-align: center;
}
.contact1-text2 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.contact1-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.contact1-navlink {
  color: var(--dl-color-primary-2);
  width: 229px;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 700;
  border-color: var(--dl-color-primary-2);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.contact1-navlink:hover {
  font-size: 26px;
  box-shadow: 0px 2px 15px 1px #a800ff;
}

.contact1-navlink1 {
  color: var(--dl-color-primary-2);
  width: 156px;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 700;
  border-color: var(--dl-color-primary-2);
  border-width: 2px;
  padding-left: 1rem;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.contact1-navlink1:hover {
  font-size: 26px;
  box-shadow: 0px 2px 15px 1px #a800ff;
}

.contact1-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 395px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media(max-width: 991px) {
  .contact1-features {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .contact1-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact1-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact1-text2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact1-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact1-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .contact1-btn-group {
    flex-direction: column;
  }
}
