.footer-header {
  width: 100%;
  height: 104px;
  display: flex;
  position: relative;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-primary-4);
  border-width: 1px;
  padding-left: 0p0x;
  padding-right: 0p0x;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-primary-4);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}



































































































@media(max-width: 767px) {
  .footer-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-header {
    padding: var(--dl-space-space-unit);
  }
}
