<div>
  <link href="./game-page-shooting.css" rel="stylesheet" />
  <div class="game-page-shooting-game-page">
    <div class="game-page-shooting-title">
      <h1 id="top.jumpandrun" class="game-page-shooting-text">
        <span>Shooting</span>
      </h1>
    </div>
    <div class="game-page-shooting-game-container">
      <div class="game-page-shooting-container">
        <a href="leader-strike.html" class="game-page-shooting-navlink">
          <img
            alt="image"
            src="public/leader-strike-300h.png"
            class="game-page-shooting-image"
          />
        </a>
        <span class="game-page-shooting-text01">
          <span>Leader Strike</span>
        </span>
      </div>
      <div class="game-page-shooting-container01">
        <a href="gunblood.html" class="game-page-shooting-navlink01">
          <img
            alt="image"
            src="public/gunblood-300h.png"
            class="game-page-shooting-image01"
          />
        </a>
        <span class="game-page-shooting-text02"><span>Gunblood</span></span>
      </div>
      <div class="game-page-shooting-container02">
        <a href="tank-trouble.html" class="game-page-shooting-navlink02">
          <img
            alt="image"
            src="public/tank-trouble-300h.png"
            class="game-page-shooting-image02"
          />
        </a>
        <span class="game-page-shooting-text03"><span>Tank Trouble</span></span>
      </div>
      <div class="game-page-shooting-container03">
        <a href="tower-crash-3d.html" class="game-page-shooting-navlink03">
          <img
            alt="image"
            src="public/tower-crash-3d-300h.png"
            class="game-page-shooting-image03"
          />
        </a>
        <span class="game-page-shooting-text04">
          <span>Tower Crash 3D</span>
        </span>
      </div>
    </div>
    <div class="game-page-shooting-game-container1">
      <div class="game-page-shooting-container04">
        <a href="leader-strike.html" class="game-page-shooting-navlink04">
          <img
            alt="image"
            src="public/ballistic-300h.png"
            class="game-page-shooting-image04"
          />
        </a>
        <span class="game-page-shooting-text05"><span>Ballistic</span></span>
      </div>
      <div class="game-page-shooting-container05">
        <a href="fortnite.html" class="game-page-shooting-navlink05">
          <img
            alt="image"
            src="public/fortnite-300h.png"
            class="game-page-shooting-image05"
          />
        </a>
        <span class="game-page-shooting-text06"><span>Fortnite</span></span>
      </div>
      <div class="game-page-shooting-container06">
        <a href="tank-trouble.html" class="game-page-shooting-navlink06">
          <img
            alt="image"
            src="public/gun-mayhem-2-300h.png"
            class="game-page-shooting-image06"
          />
        </a>
        <span class="game-page-shooting-text07"><span>Gun Mayhem 2</span></span>
      </div>
      <div class="game-page-shooting-container07">
        <a href="tower-crash-3d.html" class="game-page-shooting-navlink07">
          <img
            alt="image"
            src="public/bullet%20force-300h.png"
            class="game-page-shooting-image07"
          />
        </a>
        <span class="game-page-shooting-text08"><span>Bullet Force</span></span>
      </div>
    </div>
    <div class="game-page-shooting-game-container2">
      <div class="game-page-shooting-container08">
        <a href="v1-lol.html" class="game-page-shooting-navlink08">
          <img
            alt="image"
            src="public/unnamed-300h.webp"
            class="game-page-shooting-image08"
          />
        </a>
        <span class="game-page-shooting-text09"><span>1v1 Lol</span></span>
      </div>
      <div class="game-page-shooting-container09">
        <a href="earn-to-die.html" class="game-page-shooting-navlink09">
          <img
            alt="image"
            src="public/earn-to-die-300h.png"
            class="game-page-shooting-image09"
          />
        </a>
        <span class="game-page-shooting-text10"><span>Earn To Die</span></span>
      </div>
    </div>
    <footer class="game-page-shooting-footer">
      <a href="#top.jumpandrun" class="game-page-shooting-link">
        <h1 class="game-page-shooting-text11"><span></span></h1>
      </a>
    </footer>
  </div>
</div>
