<div>
  <link href="./game-container6.css" rel="stylesheet" />
  <div class="game-container6-game-container">
    <div class="game-container6-container">
      <a href="jetpack-joyride.html" class="game-container6-navlink">
        <img
          alt="image"
          src="public/download-_6_-_1_-300h.jpg"
          class="game-container6-image"
        />
      </a>
      <span class="game-container6-text"><span>Jetpack Joyride</span></span>
    </div>
    <div class="game-container6-container1">
      <a href="getting-over-it.html" class="game-container6-navlink1">
        <img
          alt="image"
          src="public/getting-over-it-300h.png"
          class="game-container6-image1"
        />
      </a>
      <span class="game-container6-text1"><span>Getting Over It</span></span>
    </div>
    <div class="game-container6-container2">
      <a href="monkey-mart.html" class="game-container6-navlink2">
        <img
          alt="image"
          src="public/mk%20%5B1%5D-300h.png"
          class="game-container6-image2"
        />
      </a>
      <span class="game-container6-text2"><span>Monkey Mart</span></span>
    </div>
    <div class="game-container6-container3">
      <a href="geometry-dash.html" class="game-container6-navlink3">
        <img
          alt="image"
          src="public/simple-0-300h.webp"
          class="game-container6-image3"
        />
      </a>
      <span class="game-container6-text3"><span>Geometry Dash</span></span>
    </div>
  </div>
</div>
