<div>
  <link href="./game-container.css" rel="stylesheet" />
  <div class="game-container-game-container">
    <div class="game-container-container">
      <img
        alt="image"
        src="public/tunnel-rush-300h.png"
        class="game-container-image"
      />
      <span class="game-container-text"><span>Tunnel Rush</span></span>
    </div>
    <div class="game-container-container1">
      <img
        alt="image"
        src="public/snow-rider-3d-300h.png"
        class="game-container-image1"
      />
      <span class="game-container-text1"><span>Snow Rider 3D</span></span>
    </div>
    <div class="game-container-container2">
      <img
        alt="image"
        src="public/slope-3-300h.png"
        class="game-container-image2"
      />
      <span class="game-container-text2"><span>Slope 3</span></span>
    </div>
    <div class="game-container-container3">
      <img
        alt="image"
        src="public/crossy-road-300h.png"
        class="game-container-image3"
      />
      <span class="game-container-text3"><span>Crossy Road</span></span>
    </div>
  </div>
</div>
