<div>
  <link href="./game-container5.css" rel="stylesheet" />
  <div class="game-container5-game-container">
    <div class="game-container5-container">
      <a href="bcubed.html" class="game-container5-navlink">
        <img
          alt="image"
          src="public/b-cubed-300h.webp"
          class="game-container5-image"
        />
      </a>
      <span class="game-container5-text"><span>B Cubed</span></span>
    </div>
    <div class="game-container5-container1">
      <a href="iron-snout.html" class="game-container5-navlink1">
        <img
          alt="image"
          src="public/twoknifewolf-300h.webp"
          class="game-container5-image1"
        />
      </a>
      <span class="game-container5-text1"><span>Iron Snout</span></span>
    </div>
    <div class="game-container5-container2">
      <a href="cookie-cliker.html" class="game-container5-navlink2">
        <img
          alt="image"
          src="public/cookie-clicker-icon-filled-2561-300h.webp"
          class="game-container5-image2"
        />
      </a>
      <span class="game-container5-text2"><span>Cookie Clicker</span></span>
    </div>
    <div class="game-container5-container3">
      <a href="crowd-run.html" class="game-container5-navlink3">
        <img
          alt="image"
          src="public/_crowdrun3dteaser-300h.webp"
          class="game-container5-image3"
        />
      </a>
      <span class="game-container5-text3"><span>Crowd Run</span></span>
    </div>
  </div>
</div>
