<div>
  <link href="./game-container3.css" rel="stylesheet" />
  <div class="game-container3-game-container">
    <div class="game-container3-container">
      <a href="page.html" class="game-container3-navlink">
        <img
          alt="image"
          src="public/og_image-300h.webp"
          class="game-container3-image"
        />
      </a>
      <span class="game-container3-text"><span>2048</span></span>
    </div>
    <div class="game-container3-container1">
      <a href="v1-lol.html" class="game-container3-navlink1">
        <img
          alt="image"
          src="public/unnamed-300h.webp"
          class="game-container3-image1"
        />
      </a>
      <span class="game-container3-text1"><span>1v1 Lol</span></span>
    </div>
    <div class="game-container3-container2">
      <a href="among-us.html" class="game-container3-navlink2">
        <img
          alt="image"
          src="public/unnamed%20%5B1%5D-300h.webp"
          class="game-container3-image2"
        />
      </a>
      <span class="game-container3-text2"><span>Among Us</span></span>
    </div>
    <div class="game-container3-container3">
      <a href="d-car-sim.html" class="game-container3-navlink3">
        <img
          alt="image"
          src="public/unnamed%20%5B2%5D-300h.webp"
          class="game-container3-image3"
        />
      </a>
      <span class="game-container3-text3"><span>3d Car Sim</span></span>
    </div>
  </div>
</div>
