<div>
  <link href="./game-container9.css" rel="stylesheet" />
  <div class="game-container9-game-container">
    <div class="game-container9-container">
      <a href="moto-x3m.html" class="game-container9-navlink">
        <img
          alt="image"
          src="public/unnamed%20(4)1-300h.webp"
          class="game-container9-image"
        />
      </a>
      <span class="game-container9-text"><span>Moto X3M</span></span>
    </div>
    <div class="game-container9-container1">
      <a href="food-baseball.html" class="game-container9-navlink1">
        <img
          alt="image"
          src="public/unnamed%20(5)-300h.webp"
          class="game-container9-image1"
        />
      </a>
      <span class="game-container9-text1"><span>Food Baseball</span></span>
    </div>
    <div class="game-container9-container2">
      <a href="stack.html" class="game-container9-navlink2">
        <img
          alt="image"
          src="public/stack-300h.jpeg"
          class="game-container9-image2"
        />
      </a>
      <span class="game-container9-text2"><span>Stack</span></span>
    </div>
    <div class="game-container9-container3">
      <a href="stickman-hook.html" class="game-container9-navlink3">
        <img
          alt="image"
          src="public/stickman-hook-300h.jpg"
          class="game-container9-image3"
        />
      </a>
      <span class="game-container9-text3"><span>Stickman Hook</span></span>
    </div>
  </div>
</div>
