<div>
  <link href="./game-container7.css" rel="stylesheet" />
  <div class="game-container7-game-container">
    <div class="game-container7-container">
      <a href="subway-surfers-bali.html" class="game-container7-navlink">
        <img
          alt="image"
          src="public/logo1-300h.png"
          class="game-container7-image"
        />
      </a>
      <span class="game-container7-text"><span>Subway Surfer</span></span>
    </div>
    <div class="game-container7-container1">
      <a href="candy-jump.html" class="game-container7-navlink1">
        <img
          alt="image"
          src="public/logo%20%5B1%5D-300h.png"
          class="game-container7-image1"
        />
      </a>
      <span class="game-container7-text1"><span>Candy Jump</span></span>
    </div>
    <div class="game-container7-container2">
      <a href="penalty-kicks.html" class="game-container7-navlink2">
        <img
          alt="image"
          src="public/logo%20%5B2%5D%20%5B1%5D-300h.png"
          class="game-container7-image2"
        />
      </a>
      <span class="game-container7-text2"><span>Penalty Kicker</span></span>
    </div>
    <div class="game-container7-container3">
      <a href="traffic-mania.html" class="game-container7-navlink3">
        <img
          alt="image"
          src="public/logo%20%5B3%5D-300h.png"
          class="game-container7-image3"
        />
      </a>
      <span class="game-container7-text3"><span>Traffic Mania</span></span>
    </div>
  </div>
</div>
