<div>
  <link href="./game-container4.css" rel="stylesheet" />
  <div class="game-container4-game-container">
    <div class="game-container4-container">
      <a href="bike-trials-winter2.html" class="game-container4-navlink">
        <img
          alt="image"
          src="public/512x512bb-300h.webp"
          class="game-container4-image"
        />
      </a>
      <span class="game-container4-text">
        <span>Bike Trials Winter 2</span>
      </span>
    </div>
    <div class="game-container4-container1">
      <a href="angry-granny-run.html" class="game-container4-navlink1">
        <img
          alt="image"
          src="public/unnamed%20%5B1%5D%20%5B1%5D-300h.webp"
          class="game-container4-image1"
        />
      </a>
      <span class="game-container4-text1"><span>Granny Run</span></span>
    </div>
    <div class="game-container4-container2">
      <a href="earn-to-die.html" class="game-container4-navlink2">
        <img
          alt="image"
          src="public/earn-to-die-300h.png"
          class="game-container4-image2"
        />
      </a>
      <span class="game-container4-text2"><span>Earn to Die</span></span>
    </div>
    <div class="game-container4-container3">
      <a href="retro-bowl.html" class="game-container4-navlink3">
        <img
          alt="image"
          src="public/retro-bowl-300h.png"
          class="game-container4-image3"
        />
      </a>
      <span class="game-container4-text3"><span>Retro Bowl</span></span>
    </div>
  </div>
</div>
