<div>
  <link href="./game-page-puzzle.css" rel="stylesheet" />
  <div class="game-page-puzzle-game-page">
    <div class="game-page-puzzle-title">
      <h1 id="top.jumpandrun" class="game-page-puzzle-text">
        <span>Puzzle</span>
      </h1>
    </div>
    <div class="game-page-puzzle-game-container">
      <div class="game-page-puzzle-container">
        <a href="bcubed.html" class="game-page-puzzle-navlink">
          <img
            alt="image"
            src="public/b-cubed-300h.webp"
            class="game-page-puzzle-image"
          />
        </a>
        <span class="game-page-puzzle-text01"><span>B Cubed</span></span>
      </div>
      <div class="game-page-puzzle-container01">
        <a href="page.html" class="game-page-puzzle-navlink01">
          <img
            alt="image"
            src="public/og_image-300h.webp"
            class="game-page-puzzle-image01"
          />
        </a>
        <span class="game-page-puzzle-text02"><span>2048</span></span>
      </div>
      <div class="game-page-puzzle-container02">
        <a href="crowd-run.html" class="game-page-puzzle-navlink02">
          <img
            alt="image"
            src="public/_crowdrun3dteaser-300h.webp"
            class="game-page-puzzle-image02"
          />
        </a>
        <span class="game-page-puzzle-text03"><span>Crowd Run</span></span>
      </div>
      <div class="game-page-puzzle-container03">
        <a href="d-car-sim.html" class="game-page-puzzle-navlink03">
          <img
            alt="image"
            src="public/unnamed%20%5B2%5D-300h.webp"
            class="game-page-puzzle-image03"
          />
        </a>
        <span class="game-page-puzzle-text04"><span>3D Car Sim</span></span>
      </div>
    </div>
    <div class="game-page-puzzle-game-container1">
      <div class="game-page-puzzle-container04">
        <a href="stack.html" class="game-page-puzzle-navlink04">
          <img
            alt="image"
            src="public/stack-300h.jpeg"
            class="game-page-puzzle-image04"
          />
        </a>
        <span class="game-page-puzzle-text05"><span>Stack</span></span>
      </div>
      <div class="game-page-puzzle-container05">
        <a href="bob-the-robber-4.html" class="game-page-puzzle-navlink05">
          <img
            alt="image"
            src="public/thumb300_thumb_300x300-300h.jpg"
            class="game-page-puzzle-image05"
          />
        </a>
        <span class="game-page-puzzle-text06">
          <span>Bob the Robber 4</span>
        </span>
      </div>
      <div class="game-page-puzzle-container06">
        <a href="cut-the-rope.html" class="game-page-puzzle-navlink06">
          <img
            alt="image"
            src="public/cut-the-rope-logo-300h.jpg"
            class="game-page-puzzle-image06"
          />
        </a>
        <span class="game-page-puzzle-text07"><span>Cut the Rope</span></span>
      </div>
      <div class="game-page-puzzle-container07">
        <a href="guess-the-word.html" class="game-page-puzzle-navlink07">
          <img
            alt="image"
            src="public/wordle-300h.jpeg"
            class="game-page-puzzle-image07"
          />
        </a>
        <span class="game-page-puzzle-text08"><span>Wordle</span></span>
      </div>
    </div>
    <div class="game-page-puzzle-game-container2">
      <div class="game-page-puzzle-container08">
        <a href="merge-master.html" class="game-page-puzzle-navlink08">
          <img
            alt="image"
            src="public/logo%20%5B4%5D-300h.png"
            class="game-page-puzzle-image08"
          />
        </a>
        <span class="game-page-puzzle-text09"><span>Merge Master</span></span>
      </div>
      <div class="game-page-puzzle-container09">
        <a href="jewel-shuffle.html" class="game-page-puzzle-navlink09">
          <img
            alt="image"
            src="public/logo%20%5B6%5D-300h.png"
            class="game-page-puzzle-image09"
          />
        </a>
        <span class="game-page-puzzle-text10"><span>Jewel Shuffle</span></span>
      </div>
      <div class="game-page-puzzle-container10">
        <a href="merge-cakes.html" class="game-page-puzzle-navlink10">
          <img
            alt="image"
            src="public/logo%20%5B7%5D-300h.png"
            class="game-page-puzzle-image10"
          />
        </a>
        <span class="game-page-puzzle-text11"><span>Merge Cakes</span></span>
      </div>
      <div class="game-page-puzzle-container11">
        <a href="bloxorz.html" class="game-page-puzzle-navlink11">
          <img
            alt="image"
            src="public/bloxorz-300h.png"
            class="game-page-puzzle-image11"
          />
        </a>
        <span class="game-page-puzzle-text12"><span>Bloxorz</span></span>
      </div>
    </div>
    <div class="game-page-puzzle-game-container3">
      <div class="game-page-puzzle-container12">
        <a href="block-the-pig.html" class="game-page-puzzle-navlink12">
          <img
            alt="image"
            src="public/block-the-pig-300h.png"
            class="game-page-puzzle-image12"
          />
        </a>
        <span class="game-page-puzzle-text13"><span>Block The Pig</span></span>
      </div>
      <div class="game-page-puzzle-container13">
        <a href="circloo.html" class="game-page-puzzle-navlink13">
          <img
            alt="image"
            src="public/circloo-300h.png"
            class="game-page-puzzle-image13"
          />
        </a>
        <span class="game-page-puzzle-text14"><span>CircloO</span></span>
      </div>
      <div class="game-page-puzzle-container14">
        <a href="guess-the-kitty.html" class="game-page-puzzle-navlink14">
          <img
            alt="image"
            src="public/guess-the-kitty-300h.png"
            class="game-page-puzzle-image14"
          />
        </a>
        <span class="game-page-puzzle-text15">
          <span>Guess The Kitty</span>
        </span>
      </div>
      <div class="game-page-puzzle-container15">
        <a href="the-impossible-quiz.html" class="game-page-puzzle-navlink15">
          <img
            alt="image"
            src="public/the-impossible-quiz-300h.png"
            class="game-page-puzzle-image15"
          />
        </a>
        <span class="game-page-puzzle-text16">
          <span>The Impossible Quiz</span>
        </span>
      </div>
    </div>
    <div class="game-page-puzzle-game-container4">
      <div class="game-page-puzzle-container16">
        <a href="bottle-flip-3d.html" class="game-page-puzzle-navlink16">
          <img
            alt="image"
            src="public/bottle-flip-3d-300h.png"
            class="game-page-puzzle-image16"
          />
        </a>
        <span class="game-page-puzzle-text17"><span>Bottle Flip 3D</span></span>
      </div>
      <div class="game-page-puzzle-container17">
        <a href="worlds-hardest-game.html" class="game-page-puzzle-navlink17">
          <img
            alt="image"
            src="public/worlds-hardest-game-300h.png"
            class="game-page-puzzle-image17"
          />
        </a>
        <span class="game-page-puzzle-text18"><span>World's Game</span></span>
      </div>
      <div class="game-page-puzzle-container18">
        <a href="checkers-legend.html" class="game-page-puzzle-navlink18">
          <img
            alt="image"
            src="public/checkers-legend-300h.png"
            class="game-page-puzzle-image18"
          />
        </a>
        <span class="game-page-puzzle-text19">
          <span>Checkers Legend</span>
        </span>
      </div>
      <div class="game-page-puzzle-container19">
        <a href="tetris.html" class="game-page-puzzle-navlink19">
          <img
            alt="image"
            src="public/tetris-unblocked-300h.jpeg"
            class="game-page-puzzle-image19"
          />
        </a>
        <span class="game-page-puzzle-text20"><span>Tetris</span></span>
      </div>
    </div>
    <footer class="game-page-puzzle-footer">
      <a href="#top.jumpandrun" class="game-page-puzzle-link">
        <h1 class="game-page-puzzle-text21"><span></span></h1>
      </a>
    </footer>
  </div>
</div>
