<div>
  <link href="./game-page-sports.css" rel="stylesheet" />
  <div class="game-page-sports-game-page">
    <div class="game-page-sports-title">
      <h1 id="top.jumpandrun" class="game-page-sports-text">
        <span>Sports</span>
      </h1>
    </div>
    <div class="game-page-sports-game-container">
      <div class="game-page-sports-container">
        <a href="basketball-stars.html" class="game-page-sports-navlink">
          <img
            alt="image"
            src="public/basketball-stars-300h.png"
            class="game-page-sports-image"
          />
        </a>
        <span class="game-page-sports-text01">
          <span>Basketball Stars</span>
        </span>
      </div>
      <div class="game-page-sports-container01">
        <a href="retro-bowl.html" class="game-page-sports-navlink01">
          <img
            alt="image"
            src="public/retro-bowl-300h.png"
            class="game-page-sports-image01"
          />
        </a>
        <span class="game-page-sports-text02"><span>Retro Bowl</span></span>
      </div>
      <div class="game-page-sports-container02">
        <a href="soccer-heads.html" class="game-page-sports-navlink02">
          <img
            alt="image"
            src="public/soccer-heads-300h.png"
            class="game-page-sports-image02"
          />
        </a>
        <span class="game-page-sports-text03"><span>Soccer Heads</span></span>
      </div>
      <div class="game-page-sports-container03">
        <a href="taptap-shots.html" class="game-page-sports-navlink03">
          <img
            alt="image"
            src="public/tap-tap-shots-300h.png"
            class="game-page-sports-image03"
          />
        </a>
        <span class="game-page-sports-text04"><span>Tap-Tap Shots</span></span>
      </div>
    </div>
    <div class="game-page-sports-game-container1">
      <div class="game-page-sports-container04">
        <a href="football-legends.html" class="game-page-sports-navlink04">
          <img
            alt="image"
            src="public/football-legends-300h.png"
            class="game-page-sports-image04"
          />
        </a>
        <span class="game-page-sports-text05">
          <span>Football Legends</span>
        </span>
      </div>
      <div class="game-page-sports-container05">
        <a href="tiny-fishing.html" class="game-page-sports-navlink05">
          <img
            alt="image"
            src="public/untitled-300h.png"
            class="game-page-sports-image05"
          />
        </a>
        <span class="game-page-sports-text06"><span>Tiny Fishing</span></span>
      </div>
      <div class="game-page-sports-container06">
        <a href="ball-pool.html" class="game-page-sports-navlink06">
          <img
            alt="image"
            src="public/8-ball-pool-300h.png"
            class="game-page-sports-image06"
          />
        </a>
        <span class="game-page-sports-text07"><span>8 Ball Pool</span></span>
      </div>
      <div class="game-page-sports-container07">
        <a href="d-bowling.html" class="game-page-sports-navlink07">
          <img
            alt="image"
            src="public/3d-bowling-300h.png"
            class="game-page-sports-image07"
          />
        </a>
        <span class="game-page-sports-text08"><span>3D Bowling</span></span>
      </div>
    </div>
    <div class="game-page-sports-game-container2">
      <div class="game-page-sports-container08">
        <a href="super-bike-champion.html" class="game-page-sports-navlink08">
          <img
            alt="image"
            src="public/com.cgff.dirt.bike.racing.snow.mountain.championship-54b74f73-21a2-4863-a295-fc69650933b1_128x128-300h.png"
            class="game-page-sports-image08"
          />
        </a>
        <span class="game-page-sports-text09">
          <span>Super Bike Champion</span>
        </span>
      </div>
      <div class="game-page-sports-container09">
        <a href="basket-random.html" class="game-page-sports-navlink09">
          <img
            alt="image"
            src="public/basket-random-300h.png"
            class="game-page-sports-image09"
          />
        </a>
        <span class="game-page-sports-text10"><span>Crossy Road</span></span>
      </div>
      <div class="game-page-sports-container10">
        <a href="penalty-kicks.html" class="game-page-sports-navlink10">
          <img
            alt="image"
            src="public/logo%20%5B2%5D%20%5B1%5D-300h.png"
            class="game-page-sports-image10"
          />
        </a>
        <span class="game-page-sports-text11"><span>Penalty Kicker</span></span>
      </div>
      <div class="game-page-sports-container11">
        <a href="food-baseball.html" class="game-page-sports-navlink11">
          <img
            alt="image"
            src="public/unnamed%20(5)-300h.webp"
            class="game-page-sports-image11"
          />
        </a>
        <span class="game-page-sports-text12"><span>Food Baseball</span></span>
      </div>
    </div>
    <footer class="game-page-sports-footer">
      <a href="#top.jumpandrun" class="game-page-sports-link">
        <h1 class="game-page-sports-text13"><span></span></h1>
      </a>
    </footer>
  </div>
</div>
