<div>
  <link href="./home-page-2.css" rel="stylesheet" />
  <div class="home-page-2-game-page">
    <div class="home-page-2-title">
      <h1 id="top.jumpandrun" class="home-page-2-text"><span>New</span></h1>
    </div>
    <div
      class="game-container10-game-container game-container10-root-class-name"
    >
      <div class="game-container10-container">
        <a href="bob-the-robber-4.html" class="game-container10-navlink">
          <img
            alt="image"
            src="public/thumb300_thumb_300x300-300h.jpg"
            class="game-container10-image"
          />
        </a>
        <span class="game-container10-text"><span>Bob the Robber 4</span></span>
      </div>
      <div class="game-container10-container1">
        <a href="cut-the-rope.html" class="game-container10-navlink1">
          <img
            alt="image"
            src="public/cut-the-rope-logo-300h.jpg"
            class="game-container10-image1"
          />
        </a>
        <span class="game-container10-text1"><span>Cut the Rope</span></span>
      </div>
      <div class="game-container10-container2">
        <a href="rocket-soccer.html" class="game-container10-navlink2">
          <img
            alt="image"
            src="public/rocket-soccer-derby-300h.webp"
            class="game-container10-image2"
          />
        </a>
        <span class="game-container10-text2"><span>Rocket Soccer</span></span>
      </div>
      <div class="game-container10-container3">
        <a href="slither-io.html" class="game-container10-navlink3">
          <img
            alt="image"
            src="public/slither-io-slither-io-300h.jpg"
            class="game-container10-image3"
          />
        </a>
        <span class="game-container10-text3"><span>Slither.io</span></span>
      </div>
    </div>
    <div class="game-container9-game-container game-container9-root-class-name">
      <div class="game-container9-container">
        <a href="moto-x3m.html" class="game-container9-navlink">
          <img
            alt="image"
            src="public/unnamed%20(4)1-300h.webp"
            class="game-container9-image"
          />
        </a>
        <span class="game-container9-text"><span>Moto X3M</span></span>
      </div>
      <div class="game-container9-container1">
        <a href="food-baseball.html" class="game-container9-navlink1">
          <img
            alt="image"
            src="public/unnamed%20(5)-300h.webp"
            class="game-container9-image1"
          />
        </a>
        <span class="game-container9-text1"><span>Food Baseball</span></span>
      </div>
      <div class="game-container9-container2">
        <a href="stack.html" class="game-container9-navlink2">
          <img
            alt="image"
            src="public/stack-300h.jpeg"
            class="game-container9-image2"
          />
        </a>
        <span class="game-container9-text2"><span>Stack</span></span>
      </div>
      <div class="game-container9-container3">
        <a href="stickman-hook.html" class="game-container9-navlink3">
          <img
            alt="image"
            src="public/stickman-hook-300h.jpg"
            class="game-container9-image3"
          />
        </a>
        <span class="game-container9-text3"><span>Stickman Hook</span></span>
      </div>
    </div>
    <div
      class="game-container8-game-container game-container8-root-class-name1"
    >
      <div class="game-container8-container">
        <a href="guess-the-word.html" class="game-container8-navlink">
          <img
            alt="image"
            src="public/wordle-300h.jpeg"
            class="game-container8-image"
          />
        </a>
        <span class="game-container8-text"><span>Worldle Unlimited</span></span>
      </div>
      <div class="game-container8-container1">
        <a href="tetris.html" class="game-container8-navlink1">
          <img
            alt="image"
            src="public/tetris-unblocked-300h.jpeg"
            class="game-container8-image1"
          />
        </a>
        <span class="game-container8-text1"><span>Tetris</span></span>
      </div>
      <div class="game-container8-container2">
        <a href="jewel-shuffle.html" class="game-container8-navlink2">
          <img
            alt="image"
            src="public/logo%20%5B6%5D-300h.png"
            class="game-container8-image2"
          />
        </a>
        <span class="game-container8-text2"><span>Jewel Shuffle</span></span>
      </div>
      <div class="game-container8-container3">
        <a href="merge-cakes.html" class="game-container8-navlink3">
          <img
            alt="image"
            src="public/logo%20%5B7%5D-300h.png"
            class="game-container8-image3"
          />
        </a>
        <span class="game-container8-text3"><span>Merge Cakes</span></span>
      </div>
    </div>
    <div class="game-container7-game-container game-container7-root-class-name">
      <div class="game-container7-container">
        <a href="subway-surfers-bali.html" class="game-container7-navlink">
          <img
            alt="image"
            src="public/logo1-300h.png"
            class="game-container7-image"
          />
        </a>
        <span class="game-container7-text"><span>Subway Surfer</span></span>
      </div>
      <div class="game-container7-container1">
        <a href="candy-jump.html" class="game-container7-navlink1">
          <img
            alt="image"
            src="public/logo%20%5B1%5D-300h.png"
            class="game-container7-image1"
          />
        </a>
        <span class="game-container7-text1"><span>Candy Jump</span></span>
      </div>
      <div class="game-container7-container2">
        <a href="penalty-kicks.html" class="game-container7-navlink2">
          <img
            alt="image"
            src="public/logo%20%5B2%5D%20%5B1%5D-300h.png"
            class="game-container7-image2"
          />
        </a>
        <span class="game-container7-text2"><span>Penalty Kicker</span></span>
      </div>
      <div class="game-container7-container3">
        <a href="traffic-mania.html" class="game-container7-navlink3">
          <img
            alt="image"
            src="public/logo%20%5B3%5D-300h.png"
            class="game-container7-image3"
          />
        </a>
        <span class="game-container7-text3"><span>Traffic Mania</span></span>
      </div>
    </div>
    <div class="game-container6-game-container game-container6-root-class-name">
      <div class="game-container6-container">
        <a href="jetpack-joyride.html" class="game-container6-navlink">
          <img
            alt="image"
            src="public/download-_6_-_1_-300h.jpg"
            class="game-container6-image"
          />
        </a>
        <span class="game-container6-text"><span>Jetpack Joyride</span></span>
      </div>
      <div class="game-container6-container1">
        <a href="getting-over-it.html" class="game-container6-navlink1">
          <img
            alt="image"
            src="public/getting-over-it-300h.png"
            class="game-container6-image1"
          />
        </a>
        <span class="game-container6-text1"><span>Getting Over It</span></span>
      </div>
      <div class="game-container6-container2">
        <a href="monkey-mart.html" class="game-container6-navlink2">
          <img
            alt="image"
            src="public/mk%20%5B1%5D-300h.png"
            class="game-container6-image2"
          />
        </a>
        <span class="game-container6-text2"><span>Monkey Mart</span></span>
      </div>
      <div class="game-container6-container3">
        <a href="geometry-dash.html" class="game-container6-navlink3">
          <img
            alt="image"
            src="public/simple-0-300h.webp"
            class="game-container6-image3"
          />
        </a>
        <span class="game-container6-text3"><span>Geometry Dash</span></span>
      </div>
    </div>
    <div class="game-container5-game-container game-container5-root-class-name">
      <div class="game-container5-container">
        <a href="bcubed.html" class="game-container5-navlink">
          <img
            alt="image"
            src="public/b-cubed-300h.webp"
            class="game-container5-image"
          />
        </a>
        <span class="game-container5-text"><span>B Cubed</span></span>
      </div>
      <div class="game-container5-container1">
        <a href="iron-snout.html" class="game-container5-navlink1">
          <img
            alt="image"
            src="public/twoknifewolf-300h.webp"
            class="game-container5-image1"
          />
        </a>
        <span class="game-container5-text1"><span>Iron Snout</span></span>
      </div>
      <div class="game-container5-container2">
        <a href="cookie-cliker.html" class="game-container5-navlink2">
          <img
            alt="image"
            src="public/cookie-clicker-icon-filled-2561-300h.webp"
            class="game-container5-image2"
          />
        </a>
        <span class="game-container5-text2"><span>Cookie Clicker</span></span>
      </div>
      <div class="game-container5-container3">
        <a href="crowd-run.html" class="game-container5-navlink3">
          <img
            alt="image"
            src="public/_crowdrun3dteaser-300h.webp"
            class="game-container5-image3"
          />
        </a>
        <span class="game-container5-text3"><span>Crowd Run</span></span>
      </div>
    </div>
    <div
      class="game-container3-game-container game-container3-root-class-name1"
    >
      <div class="game-container3-container">
        <a href="page.html" class="game-container3-navlink">
          <img
            alt="image"
            src="public/og_image-300h.webp"
            class="game-container3-image"
          />
        </a>
        <span class="game-container3-text"><span>2048</span></span>
      </div>
      <div class="game-container3-container1">
        <a href="v1-lol.html" class="game-container3-navlink1">
          <img
            alt="image"
            src="public/unnamed-300h.webp"
            class="game-container3-image1"
          />
        </a>
        <span class="game-container3-text1"><span>1v1 Lol</span></span>
      </div>
      <div class="game-container3-container2">
        <a href="among-us.html" class="game-container3-navlink2">
          <img
            alt="image"
            src="public/unnamed%20%5B1%5D-300h.webp"
            class="game-container3-image2"
          />
        </a>
        <span class="game-container3-text2"><span>Among Us</span></span>
      </div>
      <div class="game-container3-container3">
        <a href="d-car-sim.html" class="game-container3-navlink3">
          <img
            alt="image"
            src="public/unnamed%20%5B2%5D-300h.webp"
            class="game-container3-image3"
          />
        </a>
        <span class="game-container3-text3"><span>3d Car Sim</span></span>
      </div>
    </div>
    <div class="game-container4-game-container game-container4-root-class-name">
      <div class="game-container4-container">
        <a href="bike-trials-winter2.html" class="game-container4-navlink">
          <img
            alt="image"
            src="public/512x512bb-300h.webp"
            class="game-container4-image"
          />
        </a>
        <span class="game-container4-text">
          <span>Bike Trials Winter 2</span>
        </span>
      </div>
      <div class="game-container4-container1">
        <a href="angry-granny-run.html" class="game-container4-navlink1">
          <img
            alt="image"
            src="public/unnamed%20%5B1%5D%20%5B1%5D-300h.webp"
            class="game-container4-image1"
          />
        </a>
        <span class="game-container4-text1"><span>Granny Run</span></span>
      </div>
      <div class="game-container4-container2">
        <a href="earn-to-die.html" class="game-container4-navlink2">
          <img
            alt="image"
            src="public/earn-to-die-300h.png"
            class="game-container4-image2"
          />
        </a>
        <span class="game-container4-text2"><span>Earn to Die</span></span>
      </div>
      <div class="game-container4-container3">
        <a href="retro-bowl.html" class="game-container4-navlink3">
          <img
            alt="image"
            src="public/retro-bowl-300h.png"
            class="game-container4-image3"
          />
        </a>
        <span class="game-container4-text3"><span>Retro Bowl</span></span>
      </div>
    </div>
    <footer class="home-page-2-footer">
      <a href="#top.jumpandrun" class="home-page-2-link">
        <h1 class="home-page-2-text1"><span></span></h1>
      </a>
      <div class="text-container text-root-class-name1">
        <h1><span>Free, Amazing Unblocked Games.</span></h1>
        <span>
          <span>
            There are many websites on the internet that offer instant access to
            a wide variety of flash games. One such website is
            goflogames.github.io, which boasts an impressive collection of over
            40 games, many of which can be played directly in a web browser
            without the need for any downloads or installations. GofloGames
            offers a diverse range of games, from classic arcade-style games
            like Pac-Man and Space Invaders to modern favorites like Tower
            Defense and Idle Games. Many of these games have been developed by
            independent game developers and are available exclusively on the
            site. This makes GofloGames an excellent platform for discovering
            new and unique games that may not be available elsewhere. One of the
            standout features of GofloGames is its user community. Players can
            create accounts and interact with each other through chat rooms,
            forums, and social features. This not only creates a sense of
            community but also allows players to share tips, tricks, and
            strategies for playing games. The social aspect of the site adds
            another layer of engagement for players and can keep them coming
            back to the site even after they have completed a game. In addition
            to the vast selection of games, GofloGames also offers a rewards
            system for players. As players complete games and achieve certain
            milestones, they earn points that can be used to purchase in-game
            items, unlock new features, or compete in high-score challenges.
            This system adds an extra layer of motivation for players to keep
            playing and improving their skills. One potential drawback of
            GofloGames is that many of the games are ad-supported. This means
            that players will be subjected to occasional ads while playing
            games, which can be a minor inconvenience for some. However, this is
            a common business model for free online games, and GofloGames does
            offer a paid subscription service called Kong Plus that removes ads
            and provides additional benefits to users. Overall, GofloGames is an
            excellent website for anyone looking to play a wide variety of flash
            games instantly. With over 40 games to choose from, a thriving user
            community, and a rewards system that keeps players engaged,
            GofloGames offers a unique and engaging gaming experience. While
            some players may be put off by the occasional ads, the site's
            free-to-play model makes it accessible to anyone with an internet
            connection. If you're looking for a fun and convenient way to play
            games online, GofloGames is definitely worth checking out.
          </span>
        </span>
      </div>
    </footer>
  </div>
</div>
