<div>
  <link href="./home-page-1.css" rel="stylesheet" />
  <div class="home-page-1-game-page">
    <div class="home-page-1-title">
      <h1 id="top.jumpandrun" class="home-page-1-text">
        <span>Trending</span>
      </h1>
    </div>
    <div class="game-container1-game-container game-container1-root-class-name">
      <div class="game-container1-container">
        <a href="snow-rider-3d.html" class="game-container1-navlink">
          <img
            alt="image"
            src="public/snow-rider-3d-300h.png"
            class="game-container1-image"
          />
        </a>
        <span class="game-container1-text"><span>Snow Rider 3D</span></span>
      </div>
      <div class="game-container1-container1">
        <a href="tunnel-rush.html" class="game-container1-navlink1">
          <img
            alt="image"
            src="public/tunnel-rush-300h.png"
            class="game-container1-image1"
          />
        </a>
        <span class="game-container1-text1"><span>Tunnel Rush</span></span>
      </div>
      <div class="game-container1-container2">
        <a href="tiny-fishing.html" class="game-container1-navlink2">
          <img
            alt="image"
            src="public/untitled-300h.png"
            class="game-container1-image2"
          />
        </a>
        <span class="game-container1-text2"><span>Tiny Fishing</span></span>
      </div>
      <div class="game-container1-container3">
        <a href="ballistic.html" class="game-container1-navlink3">
          <img
            alt="image"
            src="public/ballistic-300h.png"
            class="game-container1-image3"
          />
        </a>
        <span class="game-container1-text3"><span>Ballistic</span></span>
      </div>
    </div>
    <div class="game-container2-game-container game-container2-root-class-name">
      <div class="game-container2-container">
        <a href="geometry-dash.html" class="game-container2-navlink">
          <img
            alt="image"
            src="public/simple-0-300h.webp"
            class="game-container2-image"
          />
        </a>
        <span class="game-container2-text"><span>Geometry Dash</span></span>
      </div>
      <div class="game-container2-container1">
        <a href="slope-3.html" class="game-container2-navlink1">
          <img
            alt="image"
            src="public/slope-3-300h.png"
            class="game-container2-image1"
          />
        </a>
        <span class="game-container2-text1"><span>Slope 3</span></span>
      </div>
      <div class="game-container2-container2">
        <a href="subway-surfers-bali.html" class="game-container2-navlink2">
          <img
            alt="image"
            src="public/logo1-300h.png"
            class="game-container2-image2"
          />
        </a>
        <span class="game-container2-text2"><span>Subway Surfer</span></span>
      </div>
      <div class="game-container2-container3">
        <a href="retro-bowl.html" class="game-container2-navlink3">
          <img
            alt="image"
            src="public/retro-bowl-300h.png"
            class="game-container2-image3"
          />
        </a>
        <span class="game-container2-text3"><span>Retro Bowl</span></span>
      </div>
    </div>
  </div>
</div>
